<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/saymedia/angularjs-humanize/example/humanize.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/saymedia/angularjs-humanize/src/angular-humanize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <script>
        var app = angular.module('myApp', ['angular-humanize', 'ngAnimate', 'ui.bootstrap']);
        app.controller('myCtrl', function ($scope) {
            var scope = $scope;
            scope.items = [];
            for (var i = 0; i < 20; i++) {
                scope.items.push({
                    user: {
                        display_name: 'user '
                    },
                    created_at: (Date.now() / 1e3 - i * 24 * 60 * 60),
                    content: ''
                });
            }
            scope.limit_per_click = 3;
            scope.limit_default = 3;
            scope.limit_current = scope.limit_default;
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div>
    <div uib-collapse="$index >= limit_current" class="collapse" ng-repeat="item in items">
        <div class="row">
            <blockquote class="col-md-12" style="text-align: left">
                <div class="col-md-12  administrator">
                    <span class="title">{{item.user.display_name}}</span>
                    <span class="small text-muted wf-time-ago">{{item.created_at|humanizeRelativeTime}}</span>
                </div>
                {{item.created_at}}
                <div class="col-md-12">{{item.content}}</div>
            </blockquote>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" href="#" ng-click="limit_current=limit_current-limit_per_click" ng-disabled="limit_current <= limit_default">Show less</a>
    <a class="btn btn-default" href="#" ng-click="limit_current=limit_current+limit_per_click" ng-disabled="limit_current >= items.length">Show more</a>
</div>
</body>
</html>
